<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="header">
    <a th:href="@{/}" class="brand">IOTSTAR SHOP</a>
    <nav>
        <a th:href="@{/}">Trang chủ</a>
        <a th:href="@{/products}">Sản phẩm</a>
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/users}">Người dùng</a>
    </nav>
    <div class="account" th:if="${#authorization.expression('isAuthenticated()')}">
        <span th:text="${#authentication.name}"></span>
        <form th:action="@{/logout}" method="post" style="display:inline">
            <button type="submit" class="link-button">Đăng xuất</button>
        </form>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}">Đăng nhập</a>
    </div>
</header>
</body>
</html>
